.account .avatar-small,
.avatar-large,
.chat .avatar-small,
.dms .avatar-small,
.private .avatar-small {
    background-image: url(https://my.mixtape.moe/tjxxjn.png)!important
}
.channel-members .avatar-small {
    background-image: url(https://my.mixtape.moe/pmegae.png)!important
}
.guilds-wrapper {
    background-color: pink
}
#voice-connection,
.account,
.channel .selected .private,
.channel-name,
.private-channels,
.private-channels a,
.search-bar {
    background-color: #ff0!important;
    color: red!important
}
.guilds .avatar-small {
    background-image: url(https://my.mixtape.moe/lactkj.png)!important
}
.avatar-popout,
.avatar-profile {
    background-image: url(https://my.mixtape.moe/wfcsey.png)!important
}
.chat {
    background-image: url(https://my.mixtape.moe/cqdeid.jpg)!important
}
.avatar-popout::after,
.avatar-profile::after,
.avatar-small+.member-inner .member-username-inner::after,
.guild-settings-modal-members .avatar-small+.member-inner .member-username::after,
.message-group .avatar-large+.comment .user-name::after {
    content: "WOW!";
    background: #7289da;
    font-size: 10px;
    font-weight: 600;
    color: #fff!important;
    margin-left: 6px;
    padding: 1px 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    text-decoration: none
}
.chat .message-text {
    -webkit-animation: spin .6s 3 linear
}
.markup {
    color: #ff0!important
}
* {
    font-family: Comic Sans MS!important
}
.user-name {
    color: red!important
}
